

services:
  tp-traefik:
    image: traefik:v3
    container_name: tp-traefik
    restart: unless-stopped
    command:
      - --api.dashboard=true 
      - --api.insecure=false 
      - --ping=true
      - --ping.entrypoint=traefik 
      - --entrypoints.traefik.address=:8080

      - --providers.docker=true
      - --providers.docker.exposedbydefault=false
      - --providers.file.directory=/data/dynamic
      - --providers.file.watch=true

      - --entrypoints.web.address=:80
      - --entrypoints.websecure.address=:443 
 
    ports:
      - "80:80"
      - "443:443" 
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./data/certs:/certs
      - ./data/dynamic:/data/dynamic:ro

    networks:
      - tpm-net


  tp-panel:
    build: .
    container_name: tp-panel
    restart: unless-stopped
    depends_on:
      - tp-traefik
    volumes:
      - ./data:/app/data
    ports:
      - "5000:8080"
    networks:
      - tpm-net


networks:
  tpm-net:
    driver: bridge

